$secondBlue: #009FC2;
$mainBlue: #25355C;

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: green;
}

.navbar .navbar-default {
    background: $mainBlue;
}