a {
    color: #009FC2;
}
body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    margin: 0 0 1.5rem;
}
p {
    font-size: 15px;
}
/* modal start  */
.modal-header {
    padding: 15px;
    /* border-bottom: 1px solid #e5e5e5; */
    background: #25355c;
    color: #ffffff;
    border-color: #333333;
}
/* modal end */
.bodyset {
    margin-top: 140px;
}
.head-color {
    color: #009FC2;
}
ul#menu-technology {
   margin-right: auto;
    margin-left: auto;
}
ul li.tech-menu-item {
    list-style-type: none;
    display: inline-block;
}
li.tech-menu-item a {
    padding: 0.6em 1.2em;
    font-size: 20px;
}
li.tech-menu-item a:hover {
    text-decoration: none;
    color: grey;
}
#tech-nav {
 background: white;
}
.btn-group  {
    text-align:center;
    align-content:center;
}
.btn-group {
    margin: 0 auto;
    display: block;
}
.btn-group>.btn {
    float: unset;
}
.dropdown-menu>li>a {
    background-color: #25355C;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}
#life-sett-services {
    padding: 30px 50px 30px 50px;
}
.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar {
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 0px;

}
.navbar > .container, .navbar > .container-fluid {
    background: #25355C;
    min-height: 140px;
}
.navbar-right {
    padding-top: 80px;
    padding-right: 50px;
}
.navbar .navbar-inverse {
    margin-bottom: 0px;

}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
}
.header-btn {
    background-color: #009FC2;
    border-color: #009FC2;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 2.8;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0.3em;
    letter-spacing: 0em;
    box-shadow: 0 0em 0em rgba(0,0,0,0.18);
}
@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 80px;
    }
}
.footer-title {

    font-family: 'Francois One';
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 20px;
}
.carousel-item {
    max-height: 400px;
}
.carousel-inner {
    box-shadow: 0 10px 6px -6px rgba(0,0,0,0.8);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main-areas {
    margin-top: 50px;
    margin-bottom: 50px;
}
div.event-home.col-md-5 {

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin:10px;
    padding: 20px;

}
.vertical-align {
    min-height: 310px; /*Add a height or minimum height to the containers*/
    position: relative;
}
.vertical-align img{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left:auto;
}
.slide-btn {
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 159, 194, 0.75);
    border-radius: 3px;
    outline: none;
    box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
    visibility: inherit;
    transition: none;
    text-align: inherit;
    margin: 0px;
    padding: 12px 35px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -webkit-transform-origin: 50% 50% 0px;
            transform-origin: 50% 50% 0px;
}
.parallax {
    /* The image used */
    background-image: url("http://asg-thg.com/TestWebsite/wp-content/uploads/2017/11/iStock-542208082.jpg");
    padding: 2.5rem 3rem;

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.icon-area {
    height: 80px;
}
.read-more {
    font-weight: normal;
    border: none;
    background: #25355c;
    color: #ffffff;
}
p.footer-contact {
    color: white;
}
ul.footer-links {
    padding-left: 0px;
}
li.footer-items {
    list-style-type: none;
    margin-left: 0px;
}
ul. footer-links li a {
    font-family: "Francois One", sans-serif;
}
.footer-gradient {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(150deg, #009FC2 47%, #25355C 40%);
    min-height: 200px;
}
#request-proposal {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(http://asg-thg.com/TestWebsite/wp-content/uploads/2017/05/grey-white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(http://asg-thg.com/TestWebsite/wp-content/uploads/2017/05/Working-with-documents-528046146_2122x1416.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
div.col-md-3.members {
    position: relative;
}
.col-md-3.members img {
    position:absolute;
    bottom:0;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
}
.home-about-section {
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(150deg, #009FC2 20%, #25355C 35%);
    height:800px;
    padding-top: 200px;
    color: white;
}
/*timeline*/
#timeline {
    background: rgb(232, 232, 232);
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #009FC2;
    left: 50%;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    background: #25355C;
    color: white;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
    margin-top: -60px;
}
.timeline > li:not(.timeline-inverted) {
    padding-right:90px;
}
.timeline > li.timeline-inverted {
    padding-left:90px;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    color: #25355C;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #25355C;
    border-right: 0 solid #25355C;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 10px;
    height: 10px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 52%;
    margin-left: -26px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}

